# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#
index.old.html

# gitignore.old
src\scripts\service-worker.js
src/scripts/service-worker.js
service-worker.js
database.json
commits.json
bk/
validOS.js

teste.js

anote.txt
service-worker.js
workbox-sw.js   

pwabuilder-sw.js
offline.html
manifest.json
index.old2.html
tooltip.html