:root {
    scroll-behavior: smooth;

    --primary-color: #00e9ff;
    --secondary-color: #5c43e5;
    --gray-100: #f8f9fa;
    --gray-200: #868e96;
    --gray-600: rgba(47, 47, 47, 0.275);
    --gray-500: rgba(0, 0, 0, 0.581);
    --gray-700: #121214;
}

::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: var(--gray-700);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;
}
