.details-border-radius-top {
    width: var(--details-width);
    height: var(--details-height);
    background: var(--detail-header-background);
    border-bottom-right-radius: var(--details-border-radius);
    border-bottom-left-radius: var(--details-border-radius);
}
.details-border-radius-bottom {
    width: var(--details-width);
    height: var(--details-height);
    background: var(--detail-header-background);
    border-top-right-radius: var(--details-border-radius);
    border-top-left-radius: var(--details-border-radius);
}

.text {
    color: var(--text);
}

.text-info {
    color: var(--info);
}

.text-custom {
    color: var(--muted);
    text-align: justify;
    text-indent: 3.5rem;
}
.text-emphasis {
    color: var(--text);
}

.topbar {
    /* position: fixed; */
    top: 0;
    width: 100%;
    height: 50px;
    /* background: red; */
    background: var(--bg);
    z-index: 9;
    padding: 0 15px;
}

@media (min-width: 772px) {
    .topbar {
        height: 100px;
    }
}

.body-wrapper {
    margin-top: 240px;
    margin-left: calc(30px / 2);
    margin-right: calc(30px / 2);
    margin-bottom: 30px;
    border-radius: 20px;

    /* background-color: var(--bg-secondary); */
    min-height: calc(100% - 102px);
}

@media (min-width: 772px) {
    .body-wrapper {
        margin-top: 167px;
    }
}

.chooseTheme {
    all: unset;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 10;
    background-color: transparent;
    color: var(--text-primary);

    width: 2rem;
    height: 2rem;

    transition: color 0.5s;
}

/* CARD START */
.cardRepo {
    height: auto;
    min-width: 300px;
    width: 300px;

    padding: 0.5rem;
    border-radius: 8px;

    background-color: var(--cardRepo-background);
}

.cardRepo-section {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.cardRepo-container-image {
    background-color: var(--cardRepo-container-image-background);
    border-radius: 8px;
    padding: 10px;
}

.cardRepo-image {
    width: 100%;
}

.cardRepo-title {
    color: var(--cardRepo-title);

    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Nunito', sans-serif; */
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: 'wdth' 100;
}

.cardRepo-description {
    color: var(--cardRepo-description);

    font-optical-sizing: auto;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1px;
}

.cardRepo-languages {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.languages {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 0.5rem;
    flex-wrap: wrap;

    background-color: var(--cardRepo-btn-background);
    color: var(--cardRepo-btn-color);

    padding: 0.5rem;
    border-radius: 5px;
}

.languages .lang {
    font-size: 0.8rem;
    font-optical-sizing: auto;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1px;
}

.btn {
    background-color: var(--cardRepo-btn-background);
    padding: 0.3rem;
    color: var(--cardRepo-btn-color);
    font-size: 0.8rem;

    /* 
    border-radius: 5px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem; 
    */
}

.link {
    text-decoration: none;
}

#myCarousel .carousel-indicators {
    position: static; /* Remove o posicionamento absoluto padrão */
    margin-top: 1rem; /* Espaço abaixo do carrossel */
    justify-content: center;
}

.expertience .container {
    display: flex;
    gap: 1.1rem;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;

    /* transition: all 0.3s ease; */
}
.expertience svg {
    color: var(--expertience-color);
}
