body {
    background-color: var(--gray-700);
    padding-top: 9rem;
}

header {
    padding-top: 1rem;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: var(--gray-700);
}

header div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}

.logo {
    display: flex;
    justify-content: center;
    flex-direction: column;

    row-gap: 0.5rem;
}

.logo h2 {
    font-size: 1.8rem;
    background: linear-gradient(
        to right,
        var(--secondary-color),
        var(--primary-color)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-weight: bold;
}

.logo p {
    font-size: 0.9rem;
}

.menu {
    display: flex;
    column-gap: 0.8rem;
    margin-bottom: 1rem;
}

.item-menu {
    background-color: var(--gray-700);
}

.item-menu {
    position: relative;
    padding: 5px;
}
.item-menu a {
    color: var(--gray-100);
}

.selected a {
    font-weight: 700;
    color: var(--primary-color);
}
.item-menu::after {
    content: ' ';
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.4s linear;
}

.item-menu:hover::after {
    width: 100%;
}
header hr {
    height: 2px;
    border: none;
    background: linear-gradient(
        to right,
        var(--secondary-color),
        var(--primary-color)
    );
}

.container {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}

.title {
    margin: 2.5rem auto;
}

.title span {
    color: var(--primary-color);
}

section {
    scroll-margin-top: 9.5rem;
}

main .about p {
    text-indent: 2.1rem;
    text-align: justify;
}

main .about p strong {
    color: var(--primary-color);
}

main .hardskills {
    display: flex;
    align-items: end;
    gap: 2rem;
    width: 100%;
    height: 140px;
    margin: 2rem 0;
    overflow: hidden;
}

main .hardskills i {
    font-size: 5rem;
    color: var(--gray-100);
}

main .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 1rem;
}

.projects .card {
    border-radius: 4px;
    box-shadow: 0 4px 8px var(--gray-600);
    overflow: hidden;

    width: 100%;
    max-width: 400px;
    height: 200px;
    transition: linear 0.5s;

    background-image: url('../../public/OIP.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.projects .content {
    margin: 0 auto;
    background-color: var(--gray-600);
    width: 100%;
    height: 100%;

    padding: 1rem 0.5rem;

    position: relative;
}

.projects .name {
    color: var(--gray-100);
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.projects .description {
    width: 100%;
    height: 70%;

    padding: 0.2rem;

    text-indent: 1rem;
    text-align: justify;
    margin-bottom: 15px;
    font-size: 0.9rem;
    line-height: 1.2;
    color: var(--gray-100);

    overflow-y: auto;
}

.projects .language {
    background-size: contain;
    color: var(--gray-100);

    right: 5px;
    bottom: 8px;
    position: absolute;
    transition: linear 0.3s;
}
.projects .language i {
    font-size: 2.5rem;
}
.projects .homepage {
    left: 45px;
}
.projects .homepage,
.projects .html_url {
    display: inline-block;
    padding: 4px 8px;
    background-color: var(--gray-100);
    color: var(--gray-700);
    text-decoration: none;
    border-radius: 4px;

    position: absolute;

    bottom: 8px;

    transition: linear 0.3s;
}

.contact {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    column-gap: 1.2rem;
    row-gap: 0.5rem;
}
.contact .background {
    display: none;
}

.contact .button {
    padding: 0.8rem 0.5rem;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 1em;
    min-width: 210px;

    background-color: transparent;
}
.contact .button:hover {
    color: var(--primary-color);
}
.contact .button img {
    width: 1rem;
}

.contact .tooltiptext {
    width: fit-content;
    padding: 0.25rem 0.5rem;
}
.contact img {
    width: 2rem;
    height: 2rem;
}

footer {
    color: var(--gray-100);
    font-size: small;
    height: 3.25rem;

    text-align: center;
    margin-top: 1.8rem;

    padding-top: 1.8rem;
}
footer a {
    display: block;
    margin-top: 1rem;
    padding-bottom: 2rem;
    color: var(--gray-100);
}
footer a:hover {
    color: var(--primary-color);
}
@media (min-width: 535px) {
    body {
        padding-top: 7rem;
    }
    header div {
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 0;
    }

    .projects .language {
        bottom: 0px;
    }

    .projects .html_url {
        bottom: 5px;
    }

    .projects .homepage {
        bottom: 5px;
    }
    .contact {
        height: 300px;
        flex-direction: row;
        flex-wrap: wrap;
        height: calc(min-content * 3);
    }

    .contact a,
    .contact button {
        display: block;
        max-width: 80px;
        padding: 2px 5px;
    }

    .contact .background {
        display: flex;

        position: absolute;
        width: 100%;
        height: fit-content;

        justify-content: center;
        align-items: center;

        font-size: 5rem;
        font-weight: 600;
        color: rgba(108, 108, 108, 0.132);
        z-index: -1;
    }
}
