.parallax {
    background-image: url('../../public/bgGround.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 90vh;
}

.parallax-content {
    background-color: var(--gray-500);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-weight: 400;
}
.parallax-content h2 {
    padding: 1rem;
}
/*solid var(--secondary-color) */
/* .tuor {
    border: 2px outset var(--secondary-color);
    padding: 0.5rem 1.2rem;
    border-radius: 1.5rem;
    background-color: var(--gray-700);
    color: var(--gray-100);
    font-family: 'Kode Mono', monospace;
    transition: all 0.3s ease;
    background: linear-gradient(to right, var(--gray-700), var(--gray-500));
    transition: opacity 0.3s ease-in-out;
} */
.tuor:active {
    position: relative;
    top: 2px;
    border: 2px outset var(--primary-color);
}

@media (min-width: 535px) {
    .parallax {
        height: 100vh;
    }
}

/* CSS */

.tuor {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-family: 'Kode Mono', monospace;
}

.tuor:before {
    content: '';
    background: linear-gradient(
        45deg,
        var(--secondary-color),
        var(--primary-color)
    );

    /*
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
    */
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-tuor-button 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-tuor-button {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.tuor:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--gray-700);
    left: 0;
    top: 0;
    border-radius: 10px;
}
