body,
main,
header,
button,
div,
nav,
ul,
li,
a,
p,
hr,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

  list-style: none;
  font-family: "Kode Mono", monospace;
  color: var(--gray-100);
  border: transparent;
}
button {
  cursor: pointer;
}
